/* 
Styling for Tino's Website Home Page 

ft - font
sz - size
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --light-orange: #FFB45B;
    --dark-orange: #C97817;
    --dark-grey: #8a8a8a;
    --light-grey: #9C9C9C;
    --light-blue: #B8D1DF;
    --seashell-grey: #F2F0F0;
    --deep-sea-green: #084D54;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

/* 
Start of text color definitions
*/
.color-light-orange {
    color: var(--light-orange);
}

.color-dark-orange {
    color: var(--dark-orange);
}

.color-white {
    color: white;
}

.color-dark-grey {
    color: var(--dark-grey);
}

.color-light-grey {
    color: var(--light-grey);
}

.color-light-blue {
    color: var(--light-blue);
}
/* 
End of text color definitions
*/


/* 
Start of font definitions 
*/

.ft-inter-light {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

.ft-inter-regular {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.ft-lato-light {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.section-heading,
.ft-lato-regular {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.ft-fira-sans-extra-light {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
}

.ft-fira-sans-light-italic {
    font-family: 'Fira Sans', sans-serif;
    font-style: italic;
    font-weight: 300;
}

.ft-fira-sans-regular {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
}

.ft-indie-flower {
    font-family: 'Indie Flower', cursive;
    font-weight: 400;
}

.ft-sz-70 {
    font-size: 4.9rem;
}

.section-heading,
.ft-sz-40 {
    font-size: 2.5rem;
}

.ft-sz-art-desc {
    font-size: 2.3rem;
}

.ft-sz-cad-why-learn {
    font-size: 2rem;
}

.ft-sz-30 {
    font-size: 1.7rem;
}

.ft-sz-20 {
    font-size: 1.25rem;
}

.ft-sz-16 {
    font-size: 1rem;
}

/* 
End of font definitions
*/

html, body {
    /* min-height: 800px;
    overflow: hidden; */
}

body>div>div {
    /* min-height: 1500px; */
    position: relative;
    height: 120vh;
    width: 100%;
    /* overflow-x: hidden;
    overflow-y: auto; */
}

#h1-how-contact {
    position: absolute;
    width: fit-content;
    height: 3rem;
    top: 3.7rem;
    left: 4%;
}

#welcome-menu-btn {
    position: absolute;
    display: block;
    font-size: 7rem;
    top: 3rem;
    right: 5rem;
}

#contact-options-words {
    position: absolute;
    top: 12rem;
    left: 4%;
    line-height: 5rem;
}

#contact-options-words>div {
    display: inline-block;
    width: 25rem;
    height: fit-content;
    vertical-align: top;
    
}

#mail-link a:link, a:visited{
    display: inline-block;
    position: absolute;
    text-decoration: none;
    color: black;
    width: fit-content;
    height: auto;
    cursor: pointer;
}


#mail-link a:hover{
    color: var(--dark-orange)
}

#mail-link a:active{
    color: var(--deep-sea-green);
}

#enquiry-form {
    position: absolute;
    top: 30rem;
    left: 4%;
    width: 80%;
    height: 40rem;
    padding: 5rem 3rem;
    border: 1px solid var(--deep-sea-green);
    border-radius: 1rem;
    margin-bottom: 3rem;
}

form div + div {
    margin-top: 3rem;
}

label p {
    width: 12em;
}

label {
    display: inline-block;
    text-align: right;
    width: 12rem;
    left: 0;
}

input,
textarea {
    display: inline-block;
    position: relative;
    width: 80%;
    border: 1px solid var(--dark-grey);
    border-radius: 1rem;
    margin-left: 2rem;
    padding: 2rem;
    font-size: 1.3rem;
}

input:focus,
textarea:focus {
    border-color: var(--dark-orange);
}

input {
    vertical-align: top;
    height: 4rem;
}

textarea {
    vertical-align: top;
    height: 20rem;
}

#feedback-block label{
    display: block;
}

#feedback-block textarea {
    display: block;
    left: 12rem;
}

button {
    position: relative;
    /* top: 0;
    left: 0; */
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid var(--dark-orange);
    border-radius: 15px;
    text-decoration: none;
    color: black;
}

/* mouse over link */
#button:hover {
    color: var(--dark-orange);
    border-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.45);;
}