/* 
Styling for Tino's Website Home Page 

ft - font
sz - size
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --light-orange: #FFB45B;
    --dark-orange: #C97817;
    --dark-grey: #8a8a8a;
    --light-grey: #9C9C9C;
    --light-blue: #B8D1DF;
    --seashell-grey: #F2F0F0;
    --deep-sea-green: #084D54;
    --art-width: 30vw;
    --home-section-height: 100vh;
    --prog-section-height: 100vh;
    --art-section-height: 450vh;
    --cad-section-height: 350vh;
    --quote-section-height: 100vh;
    --footer-height: 65vh;
}
:root {
    font-size: min(1.3vw, 2.4vh);
}


html, body {
    height: 100%;
}

#content-wrapper {
    top: 0;
    left: 0; 
    min-width: 300px;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

section {
    display: block;
    min-height: 700px;
    min-width: 300px;
    width: 100vw;
    position: relative;
}

.show {
    /* Remember to change this into a transition. 
    What is a user scrolls too fast? The website is weirdly loading from opacity 1 -> 0 -> 1 */
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

/* 
Start of text color definitions
*/
.color-light-orange {
    color: var(--light-orange);
}

.color-dark-orange {
    color: var(--dark-orange);
}

.color-white {
    color: white;
}

.color-dark-grey {
    color: var(--dark-grey);
}

.color-light-grey {
    color: var(--light-grey);
}

.color-light-blue {
    color: var(--light-blue);
}
/* 
End of text color definitions
*/


/* 
Start of font definitions 
*/

.ft-inter-light {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

.ft-inter-regular {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.ft-lato-light {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.section-heading,
.ft-lato-regular {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.ft-fira-sans-extra-light {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
}

.ft-fira-sans-light-italic {
    font-family: 'Fira Sans', sans-serif;
    font-style: italic;
    font-weight: 300;
}

.ft-fira-sans-regular {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
}

.ft-indie-flower {
    font-family: 'Indie Flower', cursive;
    font-weight: 400;
}

.ft-sz-70 {
    font-size: 4.9rem;
}

.section-heading,
.ft-sz-40 {
    font-size: 2.5rem;
}

.ft-sz-art-desc {
    font-size: 2.3rem;
}

.ft-sz-cad-why-learn {
    font-size: 2rem;
}

.ft-sz-20 {
    font-size: 1.25rem;
}

.ft-sz-15 {
    font-size: 0.938rem;
}

/* 
End of font definitions
*/

/* 
-----------------------------------------------------------
Animations
-----------------------------------------------------------
*/

@keyframes slideWelcomeWordsUp {

    0% {
        transform: translateY(500%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes fadeInWelcomeDescription {

    0% { 
        opacity: 0;
        transform-origin: left;
        transform: scale(0.3) rotateX(-80deg);
        bottom: 8rem;
        left: 0rem;
    }

    100% {
        opacity: 1;
        transform-origin: left;
        transform: scale(1);
    }
}

@keyframes slideInMenuBtn {
    0% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes fadeIn {
    0% { 
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* 
Section 1 - Home Page

Important: .section-heading is defined somewhere in the font size and font type definitions.
            - it's basically hitch-hiking on other fonts.
*/
#welcome-section {
    background-image: url(home-page-images/tino-bridge-16-9-aspect.jpg);
    background-color: #CCCCCC;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: var(--home-section-height);
    animation-name: fadeIn;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
} 

#welcome-msg-container {
    position: absolute;
    top: 5rem;
    left: 5rem;
    width: 70vw;
    line-height: 16vh;
}

#welcome-msg-container div {
    position: relative;
    height: 30%;
    width: fit-content;
    overflow: hidden;
}

.welcome-word {
    display: inline-block;
}

#hi-there-container {
    top: 0%;
    left: 0%;
}

#im-tino-container {
    top: 30%;
    left: 0%;
}

#welcome-site-container {
    top: 60%;
    left: 0%;
    line-height: 15vh;
    /* line-height: 6rem; */
    /* padding-top: max(2.5vh, 20px);
    padding-bottom: 2rem; */
}


#welcome-description {
    position: absolute;
    bottom: 3rem;
    left: 5rem;
    padding-right: 2rem;
    animation-name: fadeInWelcomeDescription;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-delay: 2s;
    animation-fill-mode: both;
}

#welcome-menu-btn {
    display: block;
    position: absolute;
    font-size: 7rem;
    top: 7rem;
    right: 5rem;
}



/* 
Section 2 - Me and Programming
*/

#me-programming-section {
    /* Poperties of section description under a Programming section head. */
    height: var(--prog-section-height);
}

#coder-hands {
    width: 50%;
    height: 100%;
    float: right;
    position: absolute;
    right: 0vw;
    top: 0vh;
    background-image: url("home-page-images/programmer-hands.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    border-bottom-left-radius: 5rem;
}

#hel-wel-container {
    width: 50%;
    position: absolute;
    top: 3%;
    height: 3%;
    display: flex;
    justify-content: center;
}

#hel-wel-container .hel-wel-lines {
    position: relative;
    display: inline-block;
    width: 5.938rem;
    height: 1rem;
    top: -0.2rem;
    margin: 0 100px 0 100px;
    border-bottom: 1px solid var(--dark-grey);
}

#me-prog-head.section-heading {
    width: 50%;
    position: absolute;
    top: 9%;
    height: 9%;
    text-align: center;
}

#me-prog-desc {
    position: absolute;
    top: 18%;
    background-color: var(--deep-sea-green);
    width: 50%;
    height: 68%;
    line-height: 1.875rem;
    text-align: center;
    padding: 2% 5% 2% 5%;
}
    
#me-prog-desc ol {
    text-align: left;
    line-height: 3rem;
    list-style-type: none;
}

#me-prog-desc li {
    display: inline;
    float: left;
    padding: 1rem 0 0 2rem;
}
    
#me-prog-desc span {
    padding: 0.6rem;
    border-left: 1px solid var(--dark-orange);
    border-bottom: 1px solid var(--dark-orange);
    border-bottom-left-radius: 0.7rem;
}


#learn-more-btn {
    position: absolute;
    width: 50%;
    height: fit-content;
    bottom: 5%;
    left: 0%;
    text-align: center;
}
 
/* 
unvisited link selected link 
*/
#learn-more-btn a:link, a:active, a:visited {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid var(--dark-orange);
    border-radius: 15px;
    text-decoration: none;
    color: black;
}

/* mouse over link */
#learn-more-btn a:hover {
    color: var(--dark-orange);
    border-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.45);;
}



/* 
Section 3 - Me and Art
*/

#me-art-section {
    background-color: var(--seashell-grey);
    height: var(--art-section-height);
    min-height: 7000px;
}

/* 
Group 1
*/

/* Mr Bean */
#img-mr-bean {
    width: fit-content;
    height: fit-content;
}

/* Mystery Shores */
#img-mystery-shores {
    width: fit-content;
    height: fit-content;
}

/* Taste */
#img-taste {
    width: fit-content;
    height: fit-content;
}

/* Forever */
#img-forever {
    width: fit-content;
    height: fit-content;
}

/* Bird */
#img-bird {
    width: fit-content;
    height: fit-content;
}

/* Boris Johnson*/
#img-boris-johnson {
    width: fit-content;
    height: fit-content;
}

/* Trevor Noah */
#img-trevor-noah {
    width: fit-content;
    height: fit-content;
}

/* Unmask */
#img-unmask {
    width: fit-content;
    height: fit-content;
}


#me-art-section img {
    width: var(--art-width);
    max-width: 450px;
    height: auto;
    border-radius: 1rem;
}

#me-art-head.section-heading {
    position: absolute;
    display: inline-block;
    top: 2rem;
    left: 5rem;
}

.me-art-desc {
    display: inline-block;
    position: absolute;
    width: 30vw;
    line-height: 4rem;
}

#me-art-desc-1{ 
    top: 5%;
    left: 4rem;
}

#me-art-desc-2 {
    top: 30%;
    right: 2rem;
}
#me-art-desc-3 {
    top: 55%;
    left: 4rem;
}
#me-art-desc-4 {
    top: 85%;
    right: 2rem;
}

.art-image-group .column {
    padding: 20px;
    float: left;
}

.art-image-group {
    position: absolute;
    display: inline-block;
}

#group-1.art-image-group {
    top: 5%;
    right: 1rem;
}

#group-2.art-image-group {
    padding-left: 10px;
    top: 30%;
    left: 0rem;
}

#group-3.art-image-group {
    top: 55%;
    right: 1rem;
}

#group-4.art-image-group {
    padding-left: 20px;
    top: 80%;
    left: 0;
}

.quarter-div {
    position: absolute;
    width: 100%;
    height: 20%;
}

#quarter-div-1 {
    top: 4%;
}

#quarter-div-2 {
    top: 29%;
}

#quarter-div-3 {
    top: 54%;
}

#quarter-div-4 {
    top: 79%;
}



/* 
Section 4 - Curiosity and Radical Thinking
*/

#curiosity-cad-section {
    background-color: black;
    color: white;
    height: var(--cad-section-height);
    min-height: 2400px;
}

#inspiring-words-wrapper {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: fit-content;
    top: 5%;
    padding-left: 4rem;
    padding-right: 1rem;
}

#why-learn-cad {
    display: inline-block;
    position: absolute;
    top: 30%;
    left: 25%;
    width: 50%;
    text-align: center;
}

.cad-images {
    display: inline-block;
    position: absolute;
    left: 15%;
    width: 70%;
    height: auto;
    overflow-y: hidden;
    overflow-x: auto;
}

.cad-images img {
    display: inline-block;
    position: relative;
    width: 100%;
    min-width: 700px;
    height: auto;
    border-radius: 3rem;
}

#cad-idea-1 {
    top: 45%;
}

#cad-idea-2 {
    top: 72%;
}


/* 
Section 5 - Pablo Picasso quote
*/

#quote-section {
    height: var(--quote-section-height);
    width: 100%;
    min-height: 700px;
}

#pablo-name {
    display: inline-block;
    position: absolute;
}

#picasso-quote {
    display: inline-block;
    position: absolute;
    width: 60%;
    height: auto;
    top: 30%;
    left: 20%;

}


/* 
Footer - Contact information, etc
*/

#home-footer {
    position: relative;
    background-color: var(--seashell-grey);
    font-size: 1.5rem;
    height: var(--footer-height);
    min-height: 385px;
}

#home-footer a:link, a:visited{
    display: inline-block;
    position: absolute;
    text-decoration: none;
    color: black;
    width: fit-content;
    height: auto;
    cursor: pointer;
}


#home-footer a:hover{
    color: var(--dark-orange)
}

#home-footer a:active{
    color: var(--deep-sea-green);
}

#footer-contacts {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    justify-content: space-around;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 8vw;
}


#footer-contacts div {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    
}

#tino-author {
    position: absolute;
    width: 10rem;
    height: 5rem;
    right: 2rem;
    bottom: 2rem;
    padding-left: 0.8rem;
    padding-bottom: 0.8rem;
    border-left: 8px solid var(--dark-grey);
    border-bottom: 3px solid var(--dark-grey);
    border-bottom-left-radius: 2rem;
}

#tino-author div {
    position: absolute;
    left: 10%;
    top: 30%;
}

/* 

Media queries

*/


/* 
General queries
*/



@media screen and (min-width: 1000px) {
    @media (max-height: 700px) {
        
        #welcome-msg-container {
            line-height: 100px;
        }
        
        #welcome-site-container {
            line-height: 90px;
        }
    }
}

@media screen and (min-width:1350px) {
    :root {
        /* font-size: 15px; */
        font-size: min(1.1vw, 2.8vh);
    }
    
    @media (max-height: 700px) {
        
        :root {
            font-size: 16px;
        }
    }
}

@media screen and (min-width:1800px) {
    :root {
        /* font-size: 15px; */
        font-size: 20px;
    }
}

/* Section 2 - Me and Programming Section */

/* @media screen and (orientation: landscape) and (max-width:1350px) { */
@media screen and (max-width:1350px) {
    :root {
        /* font-size: min(1.5vw, 3vh); */
        font-size: 15px;
    }

    #welcome-menu-btn {
        top: 8rem;
    }

    #welcome-msg-container {
        line-height: max(16vh, 119px);
    }


    #welcome-site-container {
        line-height: max(10vh, 70px);
    }

    .me-art-desc {
        font-size: 35px;
        width: 28vw;
    }
}

@media screen and (max-width: 1200px) {
    /* 
    Art Section
    */

    #me-art-section {
        min-height: 5000px;
    }

    #me-art-section img {
        width: 300px;
        height: auto;
        border-radius: 1rem;
    }
    .me-art-desc {
        width: 100vw;
        text-align: center;
        padding: 0 5% 0 5%;
    }

    #me-art-head.section-heading {
        top: 2%;
    }

    #me-art-desc-1{ 
        top: 5%;
        left: 0;
    }
    
    #me-art-desc-2 {
        top: 30%;
        right: 0;
    }

    #me-art-desc-3 {
        top: 57%;
        left: 0;
    }

    #me-art-desc-4 {
        top: 82%;
        right: 0;
    }

    .art-scroll-bundler .column {
        float: none;
        display: inline-block;
        top: 0px;
        width: 300px;
        padding: 0px;
        padding-left: 2%;
    }

    .art-scroll-bundler {
        position: relative;
        width: 710px;
        height: 100%;
        top: 0;
        left: 15%;
    }

    .art-image-group {
        position: absolute;
        overflow-x: auto;
        overflow-y: hidden;
        width: 96%;  /* 40px from 4 paddings generated by two images in one group*/
        height: 450px;
        left: 2%;
    }

    #group-1.art-image-group {
        top: 12%;
        right: unset;
    }

    #group-2.art-image-group {
        padding-left: 10px;
        top: 40%;
        left: unset;
    }
    
    #group-3.art-image-group {
        top: 64%;
        right: unset;
    }
    
    #group-4.art-image-group {
        padding-left: 20px;
        top: 86%;
        left: unset;
    }
}

@media screen and (max-width:1000px) {
    
    /* 
    Section 1: Home Page
    */
    /* * {
        --prog-section-height: calc(var(--prog-section-height) + 40rem);
    } */
    :root {
        /* font-size: min(1.6vw, 3vh); */
        font-size: 14px;
    }
    #welcome-section {
        background-attachment: scroll;
    }

    #welcome-menu-btn {
        top: 7rem;
    }

    #welcome-msg-container {
        line-height: max(12vh, 80px);
    }


    #welcome-site-container {
        line-height: max(6rem, 50px);
    }

    #welcome-description {
        bottom: 5rem;
    }

    /* 
    CAD Curiosity section
    */
    .cad-images {
        left: 3%;
        width: 97%;
        height: auto;
    }
    
    .cad-images img {
        width: 100%;
        border-radius: 2rem;
    }
    
    #cad-idea-1 {
        top: 45%;
    }
    
    #cad-idea-2 {
        top: 72%;
    }


    /* @media (max-height: 700px) {
        :root {
            font-size: 13px;
        }
    } */

}

@media screen  and (max-width: 900px) {
    
        /* 
    Section 2: Me and Programming
    */

    #me-programming-section {
        height: calc(var(--prog-section-height) + 100vh);
        min-height: 2000px;
    }

    #coder-hands {
        display: block;
        position: absolute;
        float: none;
        width: 80%;
        height: 30%;
        border-radius: 2rem;
        top: 15%;
        left: 10%;
    }

    #hel-wel-container {
        width: 100%;
        font-size: 1.5rem;
    }

    #me-prog-head.section-heading {
        width: 100%;
        top: 8%;
    }

    #me-prog-desc {
        top: 50%;
        width: 85%;
        height: 32%;
        border-radius: 2rem;
        left: 7.5%;
        line-height: 3rem;
        font-size: 1.5rem;
        
    }
    #me-prog-desc ol {
        line-height: 4rem;
    }

    #learn-more-btn {
        width: 100%;
        bottom: 8.5%;
        left: 0;
        text-align: center;
        font-size: 1.4rem;
    }

    /* 
    Me Art Section
    */
    #me-art-section {
        min-height: 3600px;
    }

    /* 
    CAD Curiosity Section
    */
    #why-learn-cad {
        left: 10%;
        width: 80%;
    }
}

@media screen and (max-width: 700px) {

    :root {
        /* font-size: 2vw; */
        font-size: 12px;
    }

    #welcome-msg-container {
        left: 2rem;
        width: 70vw;
    }

    #welcome-menu-btn {
        right: 5rem;
        top: max(8rem, 60px);
    }

    #welcome-description {
        left: 2rem;
        line-height: 3.5rem;
    }

    /* 
    Footer
    */

    #home-footer {
        height: 40vh;
        min-height: 230px;
    }

    #home-footer a:link, a:visited {
        font-size: 1.5rem;
    }

    #tino-author {
        width: 6rem;
        padding-left: 0.4rem;
        padding-bottom: 0rem;
        border-left: 5px solid var(--dark-grey);
        border-bottom: 2px solid var(--dark-grey);
    }
}

/* @media screen and (max-width: 600px) {
    
} */

@media screen  and (max-width: 450px){
    :root {
        font-size: 10px;
    }

    #welcome-site-container {
        padding-top: 17px;
        line-height: 50px;
    }

    #welcome-menu-btn {
        top: 9rem;
        right: 1rem
    }

    .art-scroll-bundler {
        left: 0%;
    }

    @media (max-height: 700px) {

        #welcome-menu-btn {
            top: 60px;
        }
    }
}